
.build-club {
  margin: auto;
  height: 300px;
  width: 800px;
  background-color: grey;
}
.container {
  padding-bottom: 2%;
  text-align: center;
}
.add-club {
  text-align: center;
}
/* .bag-club-build {

} */
