body {
  background-color: darkslategray;
}
header {
  color: aliceblue;
}
.create-bag-title {
  color: aliceblue;
}
.push-right {
  padding-right: 3%;
}



.build-club {
  margin: auto;
  height: 300px;
  width: 800px;
  background-color: grey;
}
.container {
  padding-bottom: 2%;
  text-align: center;
}
.add-club {
  text-align: center;
}

